---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/szymon33/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c3p5bW9uMzM6UDRrOUtKaGlvQ2RZa20=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4833'
      X-Ratelimit-Reset:
      - '1534261898'
      Etag:
      - W/"dc72f1e259254f007deb090347acca57"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":28537547,"node_id":"MDEwOlJlcG9zaXRvcnkyODUzNzU0Nw==","name":"3d-cube-css","full_name":"szymon33/3d-cube-css","owner":{"login":"szymon33","id":1451639,"node_id":"MDQ6VXNlcjE0NTE2Mzk=","avatar_url":"https://avatars1.githubusercontent.com/u/1451639?v=4","gravatar_id":"","url":"https://api.github.com/users/szymon33","html_url":"https://github.com/szymon33","followers_url":"https://api.github.com/users/szymon33/followers","following_url":"https://api.github.com/users/szymon33/following{/other_user}","gists_url":"https://api.github.com/users/szymon33/gists{/gist_id}","starred_url":"https://api.github.com/users/szymon33/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/szymon33/subscriptions","organizations_url":"https://api.github.com/users/szymon33/orgs","repos_url":"https://api.github.com/users/szymon33/repos","events_url":"https://api.github.com/users/szymon33/events{/privacy}","received_events_url":"https://api.github.com/users/szymon33/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/szymon33/3d-cube-css","description":"This
        is my sample of 3D cube animation in CSS","fork":false,"url":"https://api.github.com/repos/szymon33/3d-cube-css","forks_url":"https://api.github.com/repos/szymon33/3d-cube-css/forks","keys_url":"https://api.github.com/repos/szymon33/3d-cube-css/keys{/key_id}","collaborators_url":"https://api.github.com/repos/szymon33/3d-cube-css/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/szymon33/3d-cube-css/teams","hooks_url":"https://api.github.com/repos/szymon33/3d-cube-css/hooks","issue_events_url":"https://api.github.com/repos/szymon33/3d-cube-css/issues/events{/number}","events_url":"https://api.github.com/repos/szymon33/3d-cube-css/events","assignees_url":"https://api.github.com/repos/szymon33/3d-cube-css/assignees{/user}","branches_url":"https://api.github.com/repos/szymon33/3d-cube-css/branches{/branch}","tags_url":"https://api.github.com/repos/szymon33/3d-cube-css/tags","blobs_url":"https://api.github.com/repos/szymon33/3d-cube-css/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/szymon33/3d-cube-css/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/szymon33/3d-cube-css/git/refs{/sha}","trees_url":"https://api.github.com/repos/szymon33/3d-cube-css/git/trees{/sha}","statuses_url":"https://api.github.com/repos/szymon33/3d-cube-css/statuses/{sha}","languages_url":"https://api.github.com/repos/szymon33/3d-cube-css/languages","stargazers_url":"https://api.github.com/repos/szymon33/3d-cube-css/stargazers","contributors_url":"https://api.github.com/repos/szymon33/3d-cube-css/contributors","subscribers_url":"https://api.github.com/repos/szymon33/3d-cube-css/subscribers","subscription_url":"https://api.github.com/repos/szymon33/3d-cube-css/subscription","commits_url":"https://api.github.com/repos/szymon33/3d-cube-css/commits{/sha}","git_commits_url":"https://api.github.com/repos/szymon33/3d-cube-css/git/commits{/sha}","comments_url":"https://api.github.com/repos/szymon33/3d-cube-css/comments{/number}","issue_comment_url":"https://api.github.com/repos/szymon33/3d-cube-css/issues/comments{/number}","contents_url":"https://api.github.com/repos/szymon33/3d-cube-css/contents/{+path}","compare_url":"https://api.github.com/repos/szymon33/3d-cube-css/compare/{base}...{head}","merges_url":"https://api.github.com/repos/szymon33/3d-cube-css/merges","archive_url":"https://api.github.com/repos/szymon33/3d-cube-css/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/szymon33/3d-cube-css/downloads","issues_url":"https://api.github.com/repos/szymon33/3d-cube-css/issues{/number}","pulls_url":"https://api.github.com/repos/szymon33/3d-cube-css/pulls{/number}","milestones_url":"https://api.github.com/repos/szymon33/3d-cube-css/milestones{/number}","notifications_url":"https://api.github.com/repos/szymon33/3d-cube-css/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/szymon33/3d-cube-css/labels{/name}","releases_url":"https://api.github.com/repos/szymon33/3d-cube-css/releases{/id}","deployments_url":"https://api.github.com/repos/szymon33/3d-cube-css/deployments","created_at":"2014-12-27T13:40:54Z","updated_at":"2017-09-25T07:59:41Z","pushed_at":"2015-01-30T17:46:07Z","git_url":"git://github.com/szymon33/3d-cube-css.git","ssh_url":"git@github.com:szymon33/3d-cube-css.git","clone_url":"https://github.com/szymon33/3d-cube-css.git","svn_url":"https://github.com/szymon33/3d-cube-css","homepage":null,"size":156,"stargazers_count":1,"watchers_count":1,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":true,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":1,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":50827299,"node_id":"MDEwOlJlcG9zaXRvcnk1MDgyNzI5OQ==","name":"address-book-angular","full_name":"szymon33/address-book-angular","owner":{"login":"szymon33","id":1451639,"node_id":"MDQ6VXNlcjE0NTE2Mzk=","avatar_url":"https://avatars1.githubusercontent.com/u/1451639?v=4","gravatar_id":"","url":"https://api.github.com/users/szymon33","html_url":"https://github.com/szymon33","followers_url":"https://api.github.com/users/szymon33/followers","following_url":"https://api.github.com/users/s[...]
- request:
    method: get
    uri: https://api.github.com/repos/szymon33/3d-cube-css/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c3p5bW9uMzM6UDRrOUtKaGlvQ2RZa20=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4832'
      X-Ratelimit-Reset:
      - '1534261898'
      Etag:
      - '"c5b34492c42ea103b2279cdd20127dbd"'
      Last-Modified:
      - Mon, 25 Sep 2017 07:59:41 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 14 Aug 2018 15:37:34 GMT
- request:
    method: get
    uri: https://api.github.com/repos/szymon33/address-book-angular/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c3p5bW9uMzM6UDRrOUtKaGlvQ2RZa20=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4831'
      X-Ratelimit-Reset:
      - '1534261898'
      Etag:
      - W/"83d047dc8a41bcb3a096ca3569d96df6"
      Last-Modified:
      - Mon, 01 Feb 2016 09:04:46 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"HTML":7950,"JavaScript":5422}'
  recorded_at: Tue, 14 Aug 2018 15:37:34 GMT
- request:
    method: get
    uri: https://api.github.com/repos/szymon33/anagramfinder/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c3p5bW9uMzM6UDRrOUtKaGlvQ2RZa20=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4830'
      X-Ratelimit-Reset:
      - '1534261898'
      Etag:
      - W/"97d6942c0a9748903cad83ca0c8acbe4"
      Last-Modified:
      - Thu, 18 Dec 2014 14:44:05 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"Ruby":9731,"CSS":1993,"CoffeeScript":229,"JavaScript":91}'
  recorded_at: Tue, 14 Aug 2018 15:37:35 GMT
- request:
    method: get
    uri: https://api.github.com/repos/szymon33/api/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c3p5bW9uMzM6UDRrOUtKaGlvQ2RZa20=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4829'
      X-Ratelimit-Reset:
      - '1534261898'
      Etag:
      - W/"ec788a04af81099b0d7ec0aecccfb558"
      Last-Modified:
      - Sat, 05 Nov 2016 19:32:32 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"Ruby":52230,"HTML":1584}'
  recorded_at: Tue, 14 Aug 2018 15:37:35 GMT
- request:
    method: get
    uri: https://api.github.com/repos/szymon33/battleship/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c3p5bW9uMzM6UDRrOUtKaGlvQ2RZa20=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4828'
      X-Ratelimit-Reset:
      - '1534261898'
      Etag:
      - '"359ecc0eb1d91078afdb0ccadcf1a2a3"'
      Last-Modified:
      - Mon, 23 May 2016 15:33:09 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"Ruby":27013}'
  recorded_at: Tue, 14 Aug 2018 15:37:36 GMT
- request:
    method: get
    uri: https://api.github.com/repos/szymon33/bitmap/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c3p5bW9uMzM6UDRrOUtKaGlvQ2RZa20=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4827'
      X-Ratelimit-Reset:
      - '1534261898'
      Etag:
      - '"7eac304f85d2f04d56eb0e9e132209cb"'
      Last-Modified:
      - Fri, 01 Apr 2016 08:36:40 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"Ruby":20819}'
  recorded_at: Tue, 14 Aug 2018 15:37:36 GMT
- request:
    method: get
    uri: https://api.github.com/repos/szymon33/crc32/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c3p5bW9uMzM6UDRrOUtKaGlvQ2RZa20=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4826'
      X-Ratelimit-Reset:
      - '1534261898'
      Etag:
      - '"fe7a5235a68f2815b12fb6d81a3ecc21"'
      Last-Modified:
      - Thu, 18 Feb 2016 15:13:07 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"Ruby":7015}'
  recorded_at: Tue, 14 Aug 2018 15:37:36 GMT
- request:
    method: get
    uri: https://api.github.com/repos/szymon33/crc32-container/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c3p5bW9uMzM6UDRrOUtKaGlvQ2RZa20=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4825'
      X-Ratelimit-Reset:
      - '1534261898'
      Etag:
      - '"fdce431655d3d429910b391e469ca895"'
      Last-Modified:
      - Thu, 18 Feb 2016 16:17:15 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"Ruby":690}'
  recorded_at: Tue, 14 Aug 2018 15:37:37 GMT
- request:
    method: get
    uri: https://api.github.com/repos/szymon33/dhtmlxgantt/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c3p5bW9uMzM6UDRrOUtKaGlvQ2RZa20=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4824'
      X-Ratelimit-Reset:
      - '1534261898'
      Etag:
      - W/"7880ca9abca3bb4bd2d45eb5592c6c20"
      Last-Modified:
      - Thu, 07 Dec 2017 00:28:47 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"Ruby":32231,"HTML":7119,"CSS":683,"JavaScript":664}'
  recorded_at: Tue, 14 Aug 2018 15:37:37 GMT
- request:
    method: get
    uri: https://api.github.com/repos/szymon33/discover_my_language/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c3p5bW9uMzM6UDRrOUtKaGlvQ2RZa20=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4823'
      X-Ratelimit-Reset:
      - '1534261898'
      Etag:
      - '"9a8f1a4f57e98941e4911bc7b65fe02e"'
      Last-Modified:
      - Tue, 14 Aug 2018 15:27:21 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"Ruby":10435}'
  recorded_at: Tue, 14 Aug 2018 15:37:37 GMT
- request:
    method: get
    uri: https://api.github.com/repos/szymon33/fizzbuzz/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c3p5bW9uMzM6UDRrOUtKaGlvQ2RZa20=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4822'
      X-Ratelimit-Reset:
      - '1534261898'
      Etag:
      - W/"cd63e826e009c58ac1624da40747ee0b"
      Last-Modified:
      - Wed, 08 Nov 2017 15:49:54 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"Ruby":33420,"HTML":5962,"JavaScript":1511,"CSS":686}'
  recorded_at: Tue, 14 Aug 2018 15:37:38 GMT
- request:
    method: get
    uri: https://api.github.com/repos/szymon33/form-with-grunt/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c3p5bW9uMzM6UDRrOUtKaGlvQ2RZa20=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4821'
      X-Ratelimit-Reset:
      - '1534261898'
      Etag:
      - W/"a80aaff119b985eeecf5075b82af85ed"
      Last-Modified:
      - Tue, 15 Mar 2016 10:54:42 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"HTML":168330,"CSS":61802,"CoffeeScript":6655,"ApacheConf":1392,"Ruby":892}'
  recorded_at: Tue, 14 Aug 2018 15:37:38 GMT
- request:
    method: get
    uri: https://api.github.com/repos/szymon33/google-drive-example/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c3p5bW9uMzM6UDRrOUtKaGlvQ2RZa20=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4820'
      X-Ratelimit-Reset:
      - '1534261898'
      Etag:
      - '"2b9e3214f233cae0d844008de4ee7b12"'
      Last-Modified:
      - Sun, 18 Jun 2017 10:24:07 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"Ruby":10317}'
  recorded_at: Tue, 14 Aug 2018 15:37:39 GMT
- request:
    method: get
    uri: https://api.github.com/repos/szymon33/mic/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c3p5bW9uMzM6UDRrOUtKaGlvQ2RZa20=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4819'
      X-Ratelimit-Reset:
      - '1534261898'
      Etag:
      - W/"cc02ff905c9d4e515efeeee7c0ef8cbd"
      Last-Modified:
      - Fri, 13 Jul 2018 15:24:41 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"Ruby":37449,"CSS":25537,"HTML":12863,"JavaScript":8216,"CoffeeScript":211}'
  recorded_at: Tue, 14 Aug 2018 15:37:39 GMT
- request:
    method: get
    uri: https://api.github.com/repos/szymon33/streetbees/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c3p5bW9uMzM6UDRrOUtKaGlvQ2RZa20=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4818'
      X-Ratelimit-Reset:
      - '1534261898'
      Etag:
      - W/"78a0509e19ab2a0e2504454dfb939984"
      Last-Modified:
      - Tue, 10 Apr 2018 11:15:12 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"JavaScript":64465,"Ruby":40759,"CSS":3997,"HTML":1450,"AppleScript":871}'
  recorded_at: Tue, 14 Aug 2018 15:37:39 GMT
- request:
    method: get
    uri: https://api.github.com/repos/szymon33/szymon33.github.com/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c3p5bW9uMzM6UDRrOUtKaGlvQ2RZa20=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4817'
      X-Ratelimit-Reset:
      - '1534261898'
      Etag:
      - W/"81e68c0892a2691f1a8624777e5e1091"
      Last-Modified:
      - Wed, 27 Jun 2018 11:15:30 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"HTML":26745,"CSS":5955,"JavaScript":1683}'
  recorded_at: Tue, 14 Aug 2018 15:37:40 GMT
- request:
    method: get
    uri: https://api.github.com/repos/szymon33/tone-analyzer-nodejs/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c3p5bW9uMzM6UDRrOUtKaGlvQ2RZa20=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4816'
      X-Ratelimit-Reset:
      - '1534261898'
      Etag:
      - W/"9f41e7a9a24897941b263cd72e06ccc0"
      Last-Modified:
      - Sat, 02 Dec 2017 20:48:16 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"CSS":60745,"JavaScript":48839,"HTML":32938}'
  recorded_at: Tue, 14 Aug 2018 15:37:40 GMT
- request:
    method: get
    uri: https://api.github.com/repos/szymon33/TryEmberQuizApp/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c3p5bW9uMzM6UDRrOUtKaGlvQ2RZa20=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4815'
      X-Ratelimit-Reset:
      - '1534261898'
      Etag:
      - W/"84d7cceb212d4372f0ef9efd30f66992"
      Last-Modified:
      - Wed, 02 Mar 2016 13:05:06 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"CSS":14829,"JavaScript":6882,"HTML":5543}'
  recorded_at: Tue, 14 Aug 2018 15:37:40 GMT
- request:
    method: get
    uri: https://api.github.com/repos/szymon33/vanilla/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c3p5bW9uMzM6UDRrOUtKaGlvQ2RZa20=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4814'
      X-Ratelimit-Reset:
      - '1534261898'
      Etag:
      - W/"298fb07ba1ae726afb53c9a9ccc3077f"
      Last-Modified:
      - Fri, 08 Apr 2016 09:26:03 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"JavaScript":7624,"CoffeeScript":7177,"HTML":5462,"CSS":2904,"Ruby":232}'
  recorded_at: Tue, 14 Aug 2018 15:37:41 GMT
- request:
    method: get
    uri: https://api.github.com/repos/szymon33/walker/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c3p5bW9uMzM6UDRrOUtKaGlvQ2RZa20=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4813'
      X-Ratelimit-Reset:
      - '1534261898'
      Etag:
      - '"3bd47aac6303f82b9199a3b21b0d5896"'
      Last-Modified:
      - Sat, 06 May 2017 11:22:11 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"Ruby":12001}'
  recorded_at: Tue, 14 Aug 2018 15:37:41 GMT
- request:
    method: get
    uri: https://api.github.com/repos/szymon33/zoomable/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c3p5bW9uMzM6UDRrOUtKaGlvQ2RZa20=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4812'
      X-Ratelimit-Reset:
      - '1534261898'
      Etag:
      - W/"e1bf91e743df6aaa3a326d8522043da6"
      Last-Modified:
      - Sat, 26 Nov 2016 19:07:19 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"CSS":4506,"JavaScript":3184,"HTML":749}'
  recorded_at: Tue, 14 Aug 2018 15:37:41 GMT
recorded_with: VCR 4.0.0
